<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>sprint5 | Download</title>

    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo.common.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo.rtl.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo.silver.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo.mobile.all.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" media="all"/>

    <script type="text/javascript" src="/static/js/lib/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/jszip.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/kendo.all.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/dl-main.js" charset="UTF-8"></script>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.png"/>
</head>
<body>
<div class="container">
    <div class="k-content">
        <ul id="menu" style="display: inline-block;"></ul>
        <form id="dl-form" name="form" style="display: none;">
            <input id="filePath" name="filePath" type="hidden"/>
            <input id="fileName" name="fileName" type="hidden"/>
            <input id="fileSize" name="fileSize" type="hidden"/>
            <input id="fileSizeStr" name="fileSizeStr" type="hidden"/>
        </form>
    </div>
    <div class="responsive-message"></div>
    <div id="dialog"></div>
</div>
</body>
</html>